* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: aquamarine;
    padding: 3rem;

    width: 80%;
    margin: auto;
}

.cell {
    width: calc(100% / 10);
    aspect-ratio: 1;
    border: 1px solid;

    display: flex;
    justify-content: center;
    align-items: center;
}

.activeCell {
    background-color: lightskyblue;
}

#play_button {}